<div id="post-content" class="mdl-color-text--grey-700 mdl-card__supporting-text fade out">

    <% if(theme.scheme === 'Paradox') { %>
        <%- page.content %>
            <script type="text/javascript">
                $(function(){
                var oA = ('<a href="' + window.location.href + '" target="_blank">' + window.location.href + '</a>')
                document.getElementById('src_link').innerHTML = "本文链接： " + oA ;
                });
            </script>
            <hr>
            <div id="src_link">。。。</div>
    <% } %>

    <% if(theme.scheme === 'Isolation') { %>
        <div class="post-content_wrapper">
            <p class="post-title">
                <%- page.title %>
            </p>
            <%- page.content %>

        </div>
    <% } %>
</div>
